<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEUDOR | {% if update %} UPDATE {% else %} CREACION {% endif %}</title>
</head>
<body>
<h1>{% if not update %} CREAR {% else %} UPDATE {% endif %} DEUDOR</h1>
{% if update %}
<h2>ID: {{ deudor.id }}</h2>
{% endif %}
<button><a href="{% url 'lista_deudores' %}">LISTA DEUDORES</a></button>
<hr>

<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="{% if not update %} CREAR!! {% else %} UPDATE!! {% endif %}">
</form>

</body>
</html>