<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DEUDORES | LISTA</title>
</head>
<body>
<h1>DEUDORES</h1><br>
<!-- FUNCIONES -->
<button><a href="{% url 'create_deudor' %}">CREAR DEUDOR</a></button>
<hr>
<ul>
  {% for deudor in deudores %}
    <li>
        <a href="{% url 'detail_deudor' id=deudor.id %}">{{ deudor }}</a> |
        <button><a href="{% url 'update_deudor' id=deudor.id %}">UPDATE</a></button> |
        <button><a href="{% url 'delete_deudor' id=deudor.id %}">DELETE</a></button>
    </li>
  {% endfor %}
</ul>

</body>
</html>